@using System.Text.RegularExpressions
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<nav class="ck rj aeq ro vq app-navbar">
    <button class="re rh ayd" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="rf"></span>
    </button>
    <a class="e" href="index.html">
        <img src="/media/brand-white.png" alt="brand">
    </a>
    <div class="collapse f" id="navbarResponsive">
        <ul class="navbar-nav ain">
            <li class="qx active">
                <a class="qv" href="index.html">Home <span class="aet">(current)</span></a>
            </li>
            <li class="qx">
                <a class="qv" href="profile/index.html">Hello @CurrentPage.Id</a>
            </li>
            <li class="qx">
                <a class="qv" data-toggle="modal" href="#msgModal">Messages</a>
            </li>
            <li class="qx">
                <a class="qv" href="docs/index.html">Docs</a>
            </li>
            <li class="qx ayd">
                <a class="qv" href="notifications/index.html">Notifications</a>
            </li>
            <li class="qx ayd">
                <a class="qv" data-action="growl">Growl</a>
            </li>
            <li class="qx ayd">
                <a class="qv" href="login/index.html">Logout</a>
            </li>
        </ul>
        <form class="pf aec ayc">
            <input class="form-control" type="text" data-action="grow" placeholder="Search">
        </form>
        <ul id="#js-popoverContent" class="nav navbar-nav aec afh ayc">
            <li class="qx">
                <a class="g qv center-icon" href="notifications/index.html">
                    <span class="h bbf"></span>
                </a>
            </li>
            <li class="qx afx">
                <button class="cg bqv bqw bpq center-icon" data-toggle="popover" data-original-title="" title="">
                    <img class="wg" src="@CurrentPage.avatarUrl">
                </button>
            </li>
        </ul>
        <ul class="nav navbar-nav hidden-xs-up" id="js-popoverContent">
            <li class="qx"><a class="qv" href="#" data-action="growl">Growl</a></li>
            <li class="qx"><a class="qv" href="login/index.html">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="by ahy">
    <div class="dq">
        <div class="fh">
            <div class="rp bqq agk">
                <div class="rv" style="background-image: url(/media/iceland.jpg);"></div>
                <div class="rq awx">
                    <a href="profile/index.html">
                        <img class="bqr" src='@(Regex.Replace(CurrentPage.avatarUrl, "\\.(.*?)$", "_thumb.$1"))'>
                    </a>
                    <h6 class="rr">
                        <a class="bph" href="profile/index.html">@CurrentPage.fullName</a>
                    </h6>
                    <p class="agk">@CurrentPage.profileDescription</p>
                    <ul class="bqs">
                        <li class="bqt">
                            <a href="#userModal" class="bph" data-toggle="modal">
                                Friends
                                <h6 class="afl">@Enumerable.Count(Voxteneo.Core.Helper.StringHelper.FromJsonToDictionary(CurrentPage.chooseFriend.ToString()))</h6>
                            </a>
                        </li>
                        <li class="bqt">
                            <a href="#userModal" class="bph" data-toggle="modal">
                                Enemies
                                <h6 class="afl">@CurrentPage.countEnemy</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rp bra brb agk">
                <div class="rq">
                    <h6 class="agd">About <small>· <a href="#">Edit</a></small></h6>
                    <ul class="dc ayn">
                        <li>
                            <span class="axr h bbu agc"></span>Went to <a href="#">@CurrentPage.wentTo</a>
                        </li>
                        <li>
                            <span class="axr h bgh agc"></span>Worked at <a href="#">@CurrentPage.workAt</a>
                        </li>
                        <li>
                            <span class="axr h bgx agc"></span>Lives in <a href="#">@CurrentPage.livesPlace</a>
                        </li>
                        <li>
                            <span class="axr h big agc"></span>From <a href="#">@CurrentPage.whereYouComeFrom</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="rp bra brb">
                <div class="rq">
                    <h6 class="agd">Photos <small>· <a href="#">Edit</a></small></h6>
                    <div data-grid="images" data-target-height="150">
                        @if (CurrentPage.fileUploads != null && !(CurrentPage.fileUploads is Umbraco.Core.Dynamics.DynamicNull))
                        {
                            var pathImages = CurrentPage.fileUploads.Replace(";", "").Split(new[] { ',' });
                            var index = 0;
                            foreach (var i in pathImages)
                            {
                                var m = Umbraco.Media(i);
                                if (index % 2 == 0)
                                {
                                    <text>
                                        <div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;    float: left;">
                                            <img data-width="640" data-height="640" data-action="zoom" src="@m.Url" style="width: 114px; height: 115px;">
                                        </div>
                                    </text>
                                }
                                else
                                {
                                    <text>
                                        <div style="margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;    float: left;">
                                            <img data-width="640" data-height="640" data-action="zoom" src="@m.Url" style="width: 114px; height: 115px;">
                                        </div>
                                    </text>
                                }
                                index++;
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
        <div contentmessage class="fk" profile-id="@CurrentPage.Id">
        </div>
        <div class="fh">
            <div class="alert to alert-dismissible aye" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <a class="tl" href="profile/index.html">Visit your profile!</a> Check your self, you aren't looking well.
            </div>
            <div class="rp agk aye">
                <div class="rq">
                    <h6 class="agd">Sponsored</h6>
                    <div data-grid="images" data-target-height="150"><img class="bqa" data-width="640" data-height="640" data-action="zoom" src="/Media/1005/instagram_2.jpg" style="width: 239px; height: 225px; margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;"></div>
                    <p><strong>It might be time to visit Iceland.</strong> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>
                    <button class="cg pq pz">Buy a ticket</button>
                </div>
            </div>
            <div class="rp bqu">
                <div class="rq">
                    © 2015 Bootstrap
                    <a href="#">About</a>
                    <a href="#">Help</a>
                    <a href="#">Terms</a>
                    <a href="#">Privacy</a>
                    <a href="#">Cookies</a>
                    <a href="#">Ads </a>
                    <a href="#">Info</a>
                    <a href="#">Brand</a>
                    <a href="#">Blog</a>
                    <a href="#">Status</a>
                    <a href="#">Apps</a>
                    <a href="#">Jobs</a>
                    <a href="#">Advertise</a>
                </div>
            </div>
        </div>
    </div>
</div>